# Archigos: 世界政治リーダーDB

http://ksgleditsch.com/archigos.html

In [1]:
import pandas as pd
import codecs

## データファイルの読み込み

In [2]:
with codecs.open("archigos.csv",mode ="r", encoding= "cp932",errors="ignore") as file:
    df1 = pd.read_table(file, delimiter="\t")
df1.head()

,obsid,leadid,ccode,idacr,leader,startdate,enddate,entry,exit,exitcode,...,yrdied,borndate,deathdate,dbpedia.uri,num.entry,num.exit,num.exitcode,num.posttenurefate,fties,ftcur
0,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1869-03-04,1869-12-31,Regular,(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,0,.,.,.,NaN,NaN
1,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1870-01-01,1870-12-31,(p_year),(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,.,.,.,.,NaN,NaN
2,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1871-01-01,1871-12-31,(p_year),(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,.,.,.,.,NaN,NaN
3,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1872-01-01,1872-12-31,(p_year),(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,.,.,.,.,NaN,NaN
4,USA-1869,81dcc176-1e42-11e4-b4cd-db5882bf8def,2,USA,Grant,1873-01-01,1873-12-31,(p_year),(n_year),.,...,1885,NaN,1885-07-23,http://dbpedia.org/resource/Ulysses_S._Grant,.,.,.,.,NaN,NaN

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17686 entries, 0 to 17685
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   obsid               17686 non-null  object
 1   leadid              17686 non-null  object
 2   ccode               17686 non-null  int64
 3   idacr               17686 non-null  object
 4   leader              17686 non-null  object
 5   startdate           17686 non-null  object
 6   enddate             17686 non-null  object
 7   entry               17686 non-null  object
 8   exit                17686 non-null  object
 9   exitcode            17686 non-null  object
 10  prevtimesinoffice   17686 non-null  object
 11  posttenurefate      17686 non-null  object
 12  gender              17686 non-null  object
 13  yrborn              17686 non-null  int64
 14  yrdied              17686 non-null  int64
 15  borndate            12507 non-null  object
 16  deathdate           5924 non-null   object
 17  dbpedia.uri         9134 non-null   object
 18  num.entry           17686 non-null  object
 19  num.exit            17686 non-null  object
 20  num.exitcode        17686 non-null  object
 21  num.posttenurefate  17686 non-null  object
 22  fties               1872 non-null   object
 23  ftcur               1655 non-null   float64
dtypes: float64(1), int64(3), object(20)
memory usage: 3.2+ MB

In [4]:
df1.columns

Index(['obsid', 'leadid', 'ccode', 'idacr', 'leader', 'startdate', 'enddate',
       'entry', 'exit', 'exitcode', 'prevtimesinoffice', 'posttenurefate',
       'gender', 'yrborn', 'yrdied', 'borndate', 'deathdate', 'dbpedia.uri',
       'num.entry', 'num.exit', 'num.exitcode', 'num.posttenurefate', 'fties',
       'ftcur'],
      dtype='object')

In [5]:
# 特定の国に絞り込む
df51 = df1[df1['idacr'].str.contains('JPN')]
df51.sample(10)

,obsid,leadid,ccode,idacr,leader,startdate,enddate,entry,exit,exitcode,...,yrdied,borndate,deathdate,dbpedia.uri,num.entry,num.exit,num.exitcode,num.posttenurefate,fties,ftcur
15452,JPN-1937-2,82466e65-1e42-11e4-b4cd-db5882bf8def,740,JPN,"Konoe, F.",1938-01-01,1938-12-31,(p_year),(n_year),.,...,1945,NaN,NaN,http://dbpedia.org/resource/Fumimaro_Konoe,.,.,.,.,Grandfather of Hosokawa%824731c1-1e42-11e4-b4c...,0.0
15554,JPN-2001,82476296-1e42-11e4-b4cd-db5882bf8def,740,JPN,Junichiro Koizumi,2006-01-01,2006-09-26,(p_year),Regular,Regular,...,-777,1942-01-08,NaN,http://dbpedia.org/resource/Junichiro_Koizumi,.,.,0,0,NaN,NaN
15477,JPN-1952,82469f3c-1e42-11e4-b4cd-db5882bf8def,740,JPN,"Yoshida, Shigeru",1953-01-01,1953-12-31,(p_year),(n_year),.,...,1967,1878-09-22,NaN,http://dbpedia.org/resource/Shigeru_Yoshida,.,.,.,.,Grandfather of Taro Aso%8254eda9-1e42-11e4-b4c...,0.0
15361,JPN-1885,3641c628-3bbd-11e5-afeb-eb6f07f9fec7,740,JPN,Hirobumi Ito,1887-01-01,1887-12-31,(p_year),(n_year),.,...,1909,1842-09-02,NaN,http://dbpedia.org/resource/It%C5%8D_Hirobumi,.,.,.,.,NaN,NaN
15520,JPN-1982,824700ee-1e42-11e4-b4cd-db5882bf8def,740,JPN,Nakasone,1984-01-01,1984-12-31,(p_year),(n_year),.,...,-777,1918-05-27,NaN,http://dbpedia.org/resource/Yasuhiro_Nakasone,.,.,.,.,NaN,NaN
15454,JPN-1939-1,82466e66-1e42-11e4-b4cd-db5882bf8def,740,JPN,Hiranuma,1939-01-05,1939-08-29,Regular,Regular,Regular,...,1952,NaN,NaN,http://dbpedia.org/resource/Hiranuma_Kiichir%C...,0,1,0,0,NaN,NaN
15365,JPN-1889,8245ab18-1e42-11e4-b4cd-db5882bf8def,740,JPN,Yamagata,1889-12-24,1889-12-31,Regular,(n_year),.,...,1922,1838-04-22,NaN,http://dbpedia.org/resource/Yamagata_Aritomo,0,.,.,.,NaN,NaN
15346,JPN-1868,8245ab15-1e42-11e4-b4cd-db5882bf8def,740,JPN,Mutsuhito (Emperor),1873-01-01,1873-12-31,(p_year),(n_year),.,...,1912,1852-11-03,1912-07-30,http://dbpedia.org/resource/Emperor_Meiji,.,.,.,.,NaN,NaN
15515,JPN-1980-2,824700ed-1e42-11e4-b4cd-db5882bf8def,740,JPN,Suzuki,1980-07-17,1980-12-31,Regular,(n_year),.,...,2004,1911-01-11,NaN,http://dbpedia.org/resource/Zenko_Suzuki,0,.,.,.,NaN,NaN
15499,JPN-1964,8246d019-1e42-11e4-b4cd-db5882bf8def,740,JPN,Sato,1970-01-01,1970-12-31,(p_year),(n_year),.,...,1975,1901-03-27,NaN,http://dbpedia.org/resource/Eisaku_Sat%C5%8D,.,.,.,.,Brother of Kishi%8246d017-1e42-11e4-b4cd-db588...,1.0

## 列を絞り込む

In [6]:
# 列を絞り込む
focus_cols = ['obsid', 'ccode', 'idacr', 'leader', 'startdate', 'enddate','dbpedia.uri']
df2 = df1.loc[:, focus_cols]
df2.head()

,obsid,ccode,idacr,leader,startdate,enddate,dbpedia.uri
0,USA-1869,2,USA,Grant,1869-03-04,1869-12-31,http://dbpedia.org/resource/Ulysses_S._Grant
1,USA-1869,2,USA,Grant,1870-01-01,1870-12-31,http://dbpedia.org/resource/Ulysses_S._Grant
2,USA-1869,2,USA,Grant,1871-01-01,1871-12-31,http://dbpedia.org/resource/Ulysses_S._Grant
3,USA-1869,2,USA,Grant,1872-01-01,1872-12-31,http://dbpedia.org/resource/Ulysses_S._Grant
4,USA-1869,2,USA,Grant,1873-01-01,1873-12-31,http://dbpedia.org/resource/Ulysses_S._Grant

## 国名テーブルを読み込み横連結する

In [7]:
# 国名テーブルの読み込み
df101 = pd.read_excel('country_table.xlsx',sheet_name='table')
df101.head()

,ccode2,ccode3,ncode,jch_country,ch_country,formal_cname
0,AD,AND,20,アンドラ公国,ANDORRA,Principality of Andorra
1,AE,ARE,784,アラブ首長国連邦,UNITED ARAB EMIRATES,NaN
2,AF,AFG,4,アフガニスタン・イスラム国,AFGHANISTAN,Islamic State of Afghanistan
3,AG,ATG,28,アンチグア・バーブーダ,ANTIGUA AND BARBUDA,NaN
4,AI,AIA,660,アンギラ,ANGUILLA,NaN

In [8]:
# 3桁国コードをキーにして横連結する
df3 = pd.merge(df2, df101, left_on='idacr', right_on='ccode3')
df3.sample(10)

,obsid,ccode,idacr,leader,startdate,enddate,dbpedia.uri,ccode2,ccode3,ncode,jch_country,ch_country,formal_cname
8157,PRK-1948,731,PRK,Kim Il-Sung,1961-01-01,1961-12-31,http://dbpedia.org/resource/Kim_Il-sung,KP,PRK,408,(北朝鮮=朝鮮民主主義人民共和国),"KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF",NaN
7815,AFG-1967-2,700,AFG,Nur Ahmad Etemadi,1967-11-01,1967-12-31,NaN,AF,AFG,4,アフガニスタン・イスラム国,AFGHANISTAN,Islamic State of Afghanistan
4624,GRC-1950-2,350,GRC,S. Venizelos,1950-03-23,1950-04-15,NaN,GR,GRC,300,ギリシア共和国,GREECE,Hellenic Republic
7259,JOR-1921,663,JOR,Abdullah Al-Hussein,1927-01-01,1927-12-31,NaN,JO,JOR,400,ヨルダン・ハシミテ王国,JORDAN,Hashemite Kingdom of Jordan
2703,CHL-1964,155,CHL,Frei Montalva,1969-01-01,1969-12-31,http://dbpedia.org/resource/Eduardo_Frei_Montalva,CL,CHL,152,チリ共和国,CHILE,Republic of Chile
6819,TUR-1876-2,640,TUR,Hamid II,1905-01-01,1905-12-31,NaN,TR,TUR,792,トルコ共和国,TURKEY,Republic of Turkey
1873,ECU-1947-3,130,ECU,Arosemana Tola,1948-01-01,1948-08-21,NaN,EC,ECU,218,エクアドル共和国,ECUADOR,Republic of Ecuador
4861,RUS-1917,365,RUS,Lenin,1918-01-01,1918-12-31,NaN,RU,RUS,643,ロシア連邦,RUSSIAN FEDERATION,NaN
8464,IND-1964-2,750,IND,Shastri,1965-01-01,1965-12-31,http://dbpedia.org/resource/Lal_Bahadur_Shastri,IN,IND,356,インド,INDIA,Republic of India
4746,CYP-1974-2,352,CYP,Clerides,1974-07-23,1974-12-07,NaN,CY,CYP,196,キプロス共和国,CYPRUS,Republic of Cyprus

In [9]:
df3.columns

Index(['obsid', 'ccode', 'idacr', 'leader', 'startdate', 'enddate',
       'dbpedia.uri', 'ccode2', 'ccode3', 'ncode', 'jch_country', 'ch_country',
       'formal_cname'],
      dtype='object')

In [10]:
# さらに列を絞り込む
focus_cols_2 = ['obsid', 'ccode', 'idacr', 'leader', 'startdate', 'enddate','dbpedia.uri', 'jch_country', 'ch_country']
df4 = df3.loc[:, focus_cols_2]
df4.sample(10)

,obsid,ccode,idacr,leader,startdate,enddate,dbpedia.uri,jch_country,ch_country
7058,IRQ-2006,645,IRQ,al-Maliki,2014-01-01,2014-09-08,NaN,イラク共和国,IRAQ
4610,GRC-1945-4,350,GRC,Kanellopoulos,1945-11-01,1945-11-22,NaN,ギリシア共和国,GREECE
6647,IRN-1896,630,IRN,Muzaffar ad-Din,1902-01-01,1902-12-31,NaN,イラン・イスラム共和国,IRAN (ISLAMIC REPUBLIC OF)
8483,IND-1979,750,IND,Charan Singh,1980-01-01,1980-01-14,NaN,インド,INDIA
3173,LUX-1888,212,LUX,Paul Eyschen,1900-01-01,1900-12-31,http://dbpedia.org/resource/Paul_Eyschen,ルクセンブルク大公国,LUXEMBOURG
8346,JPN-1945-2,740,JPN,Douglas MacArthur,1951-01-01,1951-04-11,NaN,日本国,JAPAN
4142,MLT-2004,338,MLT,Gonzi,2009-01-01,2009-12-31,NaN,マルタ共和国,MALTA
770,MEX-1920-2,70,MEX,Obregon,1920-12-01,1920-12-31,http://dbpedia.org/resource/%C3%81lvaro_Obreg%...,メキシコ合衆国,MEXICO
2214,BRA-1894,140,BRA,de Moraes Barros,1895-01-01,1895-12-31,NaN,ブラジル連邦共和国,BRAZIL
2264,BRA-1930,140,BRA,Vargas,1934-01-01,1934-12-31,http://dbpedia.org/resource/Get%C3%BAlio_Vargas,ブラジル連邦共和国,BRAZIL

In [11]:
# 日付文字列を日付値に変換する
df4['start_date'] = pd.to_datetime(df4['startdate'])
df4['end_date'] = pd.to_datetime(df4['enddate'])
df4.drop(columns=['startdate','enddate'],inplace=True)
df4.sample(10)

,obsid,ccode,idacr,leader,dbpedia.uri,jch_country,ch_country,start_date,end_date
367,CUB-1925,40,CUB,Machado Morales,NaN,キューバ共和国,CUBA,1926-01-01,1926-12-31
3584,AUS-1934,305,AUS,Schuschnigg,NaN,オーストラリア,AUSTRALIA,1936-01-01,1936-12-31
121,USA-1969,2,USA,Nixon,http://dbpedia.org/resource/Richard_Nixon,アメリカ合衆国(米国),UNITED STATES,1971-01-01,1971-12-31
4011,ITA-1963-2,325,ITA,Moro,http://dbpedia.org/resource/Aldo_Moro,イタリア共和国,ITALY,1967-01-01,1967-12-31
6780,TUR-1861,640,TUR,Abdul Aziz,NaN,トルコ共和国,TURKEY,1868-01-01,1868-12-31
4689,GRC-1981,350,GRC,A. Papandreou,http://dbpedia.org/resource/Andreas_Papandreou,ギリシア共和国,GREECE,1988-01-01,1988-12-31
25,USA-1889,2,USA,Harrison,http://dbpedia.org/resource/Benjamin_Harrison,アメリカ合衆国(米国),UNITED STATES,1889-03-04,1889-12-31
259,CAN-1935,20,CAN,King,NaN,カナダ,CANADA,1946-01-01,1946-12-31
7770,AFG-1929-3,700,AFG,Nadir Shah,NaN,アフガニスタン・イスラム国,AFGHANISTAN,1929-10-17,1929-12-31
2545,BOL-1997,145,BOL,Banzer Suarez,NaN,ボリビア共和国,BOLIVIA,2001-01-01,2001-08-07

## pickleファイルに保存する

In [12]:
df4.to_pickle('archigos.pkl')

In [13]:
df4.columns

Index(['obsid', 'ccode', 'idacr', 'leader', 'dbpedia.uri', 'jch_country',
       'ch_country', 'start_date', 'end_date'],
      dtype='object')