# 外国為替レートと経済指標との相関

In [1]:
import pandas as pd
import numpy as np

## 為替レートデータの読み込み

In [3]:
df1 = pd.read_excel('Foreign_JPY_18_23.xlsx', sheet_name='RawData')
df1.head()

        date     USD     GBP     EUR    CAD    AUD    NZD
0 2018-01-04  112.75  152.30  135.35  89.83  88.22  79.88
1 2018-01-05  112.84  153.06  136.21  90.36  88.62  80.75
2 2018-01-09  113.15  153.50  135.43  91.15  88.82  81.23
3 2018-01-10  112.45  152.17  134.21  90.17  87.87  80.39
4 2018-01-11  111.52  150.64  133.30  88.93  87.83  80.32

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280 entries, 0 to 1279
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1280 non-null   datetime64[ns]
 1   USD     1280 non-null   float64
 2   GBP     1280 non-null   float64
 3   EUR     1280 non-null   float64
 4   CAD     1280 non-null   float64
 5   AUD     1280 non-null   float64
 6   NZD     1280 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 70.1 KB

## 原油価格データの読み込み

In [4]:
df2 = pd.read_excel('oil_price_18_23.xlsx', sheet_name='RawData')
df2.head()

         Date  Price   Open   High    Low
0  04/04/2023  80.81  80.42  80.91  80.41
1  04/03/2023  80.42  80.10  81.69  79.00
2  04/02/2023  80.51  80.27  81.58  80.22
3  03/31/2023  75.67  74.37  75.72  73.77
4  03/30/2023  74.37  72.98  74.63  72.61

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1392 entries, 0 to 1391
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1392 non-null   object
 1   Price   1392 non-null   float64
 2   Open    1392 non-null   float64
 3   High    1392 non-null   float64
 4   Low     1392 non-null   float64
dtypes: float64(4), object(1)
memory usage: 54.5+ KB